{% extends "app_manager/app_install_base.html" %}
<!-- {% extends "app_instance/apps_configuration_base.html"  -->
{% load bootstrap_tags staticfiles %}
{% load i18n %}

{% block title %} Point in Polygon {% endblock %}


{% block head %}
  {% include "geonode/ext_header.html" %}
  {{ block.super }}
{% endblock %}


<!-- {% block app_configuration -->
{% block body %}
  <br>
  <div class="container">
      <div class="row" id="config-form-ct"></div>
  </div>
  <br>
  <br>
{% endblock %}


{% block extra_script %}
<script type="text/javascript">
  {% if PROXY_URL %}
      const PROXY_URL='{{PROXY_URL}}'
  {% else %}
      const PROXY_URL=""
  {% endif %}
  const appManagerRest="{% url 'app_manager_base_url' %}rest/app_manager/"
  const URLS = {
    geoserver: "{{ GEOSERVER_BASE_URL }}",
    geoserverRestProxy: "proxy/geoserver/rest",
    proxy: PROXY_URL,
    rest:appManagerRest,
    layersAPI:"{% url 'api_dispatch_list' api_name='api' resource_name='layers' %}",
    {% if 'access_token' in request.session %}
        wfsURL : "{{ GEOSERVER_BASE_URL }}wfs?access_token={{request.session.access_token}}",
        wmsURL : "{{ GEOSERVER_BASE_URL }}wms?access_token={{request.session.access_token}}",
        wpsURL : "{{ GEOSERVER_BASE_URL }}wps?access_token={{request.session.access_token}}",
        {% else %}
        wfsURL : "{{ GEOSERVER_BASE_URL }}wfs",
        wmsURL : "{{ GEOSERVER_BASE_URL }}wms",
        wpsURL : "{{ GEOSERVER_BASE_URL }}wps",        
    {% endif %}
    static: "{{ STATIC_URL }}",
    appStatic: "{{ STATIC_URL }}{{APP_NAME}}",
    media: "{{ MEDIA_URL }}",
    geonodeRest: "{% url 'api_api_top_level' 'api' %}",
    appLogo:'{% static '{{APP_NAME}}/logo.png' %}'
  };
  const APP_NAME = "{{APP_NAME}}"
  const username = '{{username}}'
  const workspace = "{{workspace}}"
</script>
  <script src="{{ STATIC_URL }}{{APP_NAME}}/dist/commons.js?v={{v}}"></script>
  <script src="{{ STATIC_URL }}{{APP_NAME}}/dist/PNP.bundle.js?v={{v}}"></script>  
  <script type="text/javascript">
    var viewer= new Viewer("config-form-ct",username,URLS, workspace)
    viewer.view()
  </script>
{% endblock %}
