{% extends "app_manager/app_install_base.html" %}
<!-- {% extends "app_instance/apps_configuration_base.html"  -->
{% load bootstrap_tags staticfiles %}
{% load i18n %}

{% block title %} Point in Polygon {% endblock %}


{% block head %}
  {% include "geonode/ext_header.html" %}
  {{ block.super }}
  <style>
    #wrap{
      background-color: #f3f3f3;
    }
  </style>
{% endblock %}


<!-- {% block app_configuration -->
{% block body %}
  <br>
  <div class="container">
      <div class="row" id="config-form-ct"></div>
  </div>
  <br>
  <br>
{% endblock %}


{% block extra_script %}
  <script type="text/javascript">
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const URLS = {
      geoserver: "{{ GEOSERVER_BASE_URL }}",
      geoserverRestProxy:"proxy/geoserver/rest",
      //{% if PROXY_URL %}
      proxy: "{{ PROXY_URL }}",
      //{% endif %}
      static: "{{ STATIC_URL }}",
      media: "{{ MEDIA_URL }}",
      rest: "{% url 'app_manager_base_url' %}rest/app_manager/",
      geonodeRest: "{% url 'api_api_top_level' 'api' %}"
    };
    const CSRF_TOKEN = getCookie('csrftoken');
    const APP_NAME = "{{APP_NAME}}"
    const username = '{{username}}'
  </script>

  <!-- <script src="{{ STATIC_URL }}cartoview_heatmap_styler/ol.js"></script> -->
  <!-- <script src="{{ STATIC_URL }}cartoview_heatmap_styler/OpenLayers.js"></script> -->
  <script src="{{ STATIC_URL }}cartoview_point_in_polygon/dist/point-in-polygon.bundle.min.js?v={{v}}"></script>

  <script type="text/javascript">
    var configForm = React.createElement(ConfigForm);
    ReactDOM.render(configForm, document.getElementById("config-form-ct"));
  </script>
{% endblock %}
