{
    "presets": [
    [ "env", { "loose": true } ],
    "stage-1",
    "react"
  ],
    "plugins": [ "transform-object-rest-spread", "syntax-dynamic-import",
      "transform-react-constant-elements", "transform-react-inline-elements" ]
}
